*{
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
}
#head{
	width: 100%;
	height: 78px;
	position:absolute;
	top: 0;
	left: 0;
	z-index: 11;
}
#head>.head-normal{
	width: 100%;
	max-width: 1358px;
	min-width: 1230px;
	height: 78px;
	margin: 0 auto;
	position: relative;
	z-index: 10;
}
#head>.head-normal>.logo{
	float: left;
	width: 132px;
	height: 49px;
	margin-top:14px ;
}
#head>.head-normal>.head-nav{
	float: left;
	width: 55%;
	height: 78px;
	box-sizing: border-box;
	margin-left:30px;
	padding-top: 16px;
}
#head>.head-normal>.head-nav>li{
	float: left;
	list-style: none;
	width: 20%;
	height: 78px;
	text-align: center;
}
#head>.head-normal>.head-nav>li>a{
	display: block;
	width: 100%;
	height: 100%;
}
#head>.head-normal>.head-nav>li>a>span:first-child{
	display: block;
	color: #fff;
	font-size:18px;
	letter-spacing: 1px;
}
#head>.head-normal>.head-nav>li>a>span:last-child{
	display: block;
	color: #aeaeae;
	font-size:11px;
	margin-top: -1px;
	letter-spacing: 1px;
}
#head>.head-normal>.head-user{
	float: right;
	width: 244px;
	height: 78px;
	position: relative;
	z-index: 3;
}
#head>.head-normal>.head-user>img{
	float: left;
	width:48px;
	height: 48px;
	margin-top: 14px;
	line-height: 48px;
	text-align: center;
	font-size:0 ;
}
#head>.head-normal>.head-user>span{
	float: left;
	margin-left: 10px;
	line-height: 78px;
	text-align: center;
	color: #fefefe;
	font-size: 16px;
}
#head>.head-normal>.head-user>span>a{
	color: #fff3d0;
}
#head>.head-normal>.head-user>.head-user-z{
	text-align: center;
	position: absolute;
	padding-top: 78px;
	right: -38px;
	width: 310px;
	height: auto;
	background:url(../img/dark60-bg-repeat.png) repeat ;
	display: none;
}
#head>.head-normal>.head-user>.head-user-z>.p1{
	margin-top: 30px;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	padding: 0 24px;
	font-size: 12px;
	color: #848383;
	text-align: center;
}
#head>.head-normal>.head-user>.head-user-z>.p2{
	margin-top: 14px;
}
#head>.head-normal>.head-user>.head-user-z>p>a{
	display: block;
	width: 100%;
	height: 44px;
	line-height: 44px;
	text-align: center;
	color:#fff;
	font-size: 16px;
	background-color: #000;
	margin-top: 20px;
}
#head>.head-normal>.head-user:hover .head-user-z{
	display: block;
}

#head>.head-normal>.head-app{
	float: right;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	margin: 22px 31px 0 0;
	position: relative;
	transition: all .8s;
}
#head>.head-normal>.head-app:hover .head-app-z{
	display: block;
}
#head>.head-normal>.head-app>.head-app-z{
	width: 211px;
	height: 178px;
	position: absolute;
	top: 60px;
	right: -91px;
	background: rgba(0,0,0,0.5);
	display: none;
}
#head>.head-normal>.head-app>.head-app-z>span:first-child{
	display: block;
	width: 120px;
	height: 113px;
	text-align: center;
	background-color: #fff;
	margin: 22px auto 0 auto ;
	border-radius: 10px;
}
#head>.head-normal>.head-app>.head-app-z>span:first-child>img{
	display: inline-block;
	widows: 110px;
	height: 110px;
}
#head>.head-normal>.head-app>.head-app-z>p{
	color: #cdbe91;
	font-size: 12px;
	width: 100%;
	text-align: center;
}
#head>.head-normal>.head-app>.head-app-z>span:last-child>img{
	width: 50px;
	height: 50px;
	display: block;
	position: absolute;
	right: -8px;
	bottom: -2px;
}
#head>.head-normal>.head-search{
	float: right;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	margin: 22px 12px 0 0;
	cursor:pointer;
}
#head>.head-search-z{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 78px;
	background-color:rgb(8,19,34) ;
	z-index: 11;
	display: none;
}
#head>.head-search-z>div{
	min-width: 1230px;
	max-width: 1358px;
	margin: 0 auto;
	position: relative;
}
#head>.head-search-z>div>img:first-child{
	float: right;
	width: 23px;
	height: 23px;
	margin:25.5px 336px 0 0 ;
	line-height: 78px;
}
#head>.head-search-z>div>input{
	float: right;
	width: 368px;
	height: 40px;
	background-color:rgb(8,19,34) ;
	margin: 19px 200px 0 0 ;
	border: none;
	color: #fff;
	padding-left: 5px;
	font-size: 16px;
}
#head>.head-search-z>div>img:last-child{
	float: right;
	width: 22px;
	height: 22px;
	margin: 28px 15px 0 0;
	cursor:pointer;
}
#topact{
	width: 100%;
	height: 720px;
	min-width:1230px ;
	position: relative;
	background: center top no-repeat;
	overflow: hidden;
}
#topact>img{
	position: absolute;
	left: 50%;
	top: 0;
	width: 1920px;
	margin-left: -960px;
}
#topact>.input{
	width: auto;
	min-width: 1230px;
	max-width:1358px;
	height: 100%;
	position: relative;
	margin: 0 auto;
}
#topact>.input>a:first-child{
	display: block;
	position: absolute;
	top: 480px;
	left: 590px;
	width: 160px;
	height: 35px;
	border: 3px solid #5d4a24;
	line-height: 35px;
	text-align: center;
	background: url(../img/dark60-bg-repeat.png) repeat;
	color: #c89b2f;
	font-size:14px ;
}
#topact>.input>div{
	height: auto;
	position: absolute;
	bottom: 25px;
	right: 0px;
	color: #888787;
	font-size:14px ;
	line-height: 26.8px;
}
#topact>.input>div>a{
	float: right;
	display: block;
	width: 48px;
	height: 22px;
	border: 3px solid #5d4a24;
	line-height: 22px;
	text-align: center;
	background: url(../img/dark60-bg-repeat.png) repeat;
	color: #f5d185;
	font-size:12px ;
	padding: 0 15px;
}
#topact>.input>div>span{
	margin-right: 10px;
	color: #f5d185;
}




#head>.head-nav-z{
	width: 100%;
	background: url(../img/dark60-bg-repeat.png) repeat;
	position: absolute;
	top: 0;
	left: 0;	
	padding: 88px 0 32px 0;
	display: none;
}
#head>.head-nav-z>div{
	width: 100%;
	max-width: 1358px;
	min-width: 1230px;
	height: auto;
	margin: 0 auto;
}
#head>.head-nav-z>div>ul{
	width: 55%;
	list-style: none;
	margin-left:164px ;
}
#head>.head-nav-z>div>ul>li{
	width: 20%;
	float: left;
	height: auto;
}
#head>.head-nav-z>div>ul>li>p>a{
	width: 100%;
	height: 29px;
	line-height: 29px;
	color: #e1e1e1;
	font-size: 14px;
	text-align: center;
	display: block;
}
#head>.head-nav-z>div>ul>li>p>a:hover{
	color: #e9c06c;
}
#body,.bodySec{
	width: 100%;
	height: auto;
	margin: 0 auto;	
}


#body>.bodySec{
	padding: 40px 0 80px 0;
	width:1358px;
	height: auto;
}
#body> .bodySec>div:first-child{
	width: 820px;
	height: 380px;
	background-color: #e3e2e2;
	list-style: none;
	float: left;
	position: relative;
	overflow: hidden;
	
}
#body> .bodySec>div>ul{
	width: 4100px;
	height: 340px;
	overflow: hidden;
	white-space: nowrap;
	
}
#body> .bodySec>div>ul>li{
	width:820px;
	height: 340px;
	float: left;
	overflow: hidden;
	animation: lunbo infinite linear 15s;
}

@keyframes lunbo{
	0%{
		transform: translateX(0px);
	}
	20%{
		transform: translateX(-820px);
	}
	40%{
		transform: translateX(-1640px);
	}
	60%{
		transform: translateX(-2460px);
	}
	80%{
		transform: translateX(-3280px);
	}
	100%{
		transform: translateX(0px);
	}	
}
#body> .bodySec>.xw{
	width: 496px;
	height: 380px;
	overflow: hidden;
	float: right;
}
#body> .bodySec>.xw>.xw-top{
	width: 596px;
	height: 35px;
	border-bottom: 1px #e0e2e2 solid;
	box-sizing: border-box;
	
}
#body> .bodySec>.xw>.xw-top>ul{
	list-style: none;
	
	
}
#body> .bodySec>.xw>.xw-top>ul>li{
	float: left;
	font-size: 18px;
	line-height: 20px;
	margin-right: 74px;
	letter-spacing:1px;
	color: #676767;
	text-align: center;
	min-width: 40px;
	cursor: pointer
	
}
#body> .bodySec>.xw>.xw-top>ul>li:hover{
	color: #1da6ba;
	font-weight: bold;
	
}
